storageSystem:
  deploy: true
  inventory:
    useSpecificNodes: false

clusterGroup:
  name: hub
  isHubCluster: true

  namespaces:
  - open-cluster-management
  - openshift-serverless
  - openshift-storage
  - xraylab-1
  - knative-serving
  - staging
  - vault
  - golang-external-secrets

  subscriptions:
    amq-streams:
      name: amq-streams
      namespace: xraylab-1
      channel: amq-streams-2.9.x

    grafana:
      name: grafana-operator
      namespace: xraylab-1
      source: community-operators

    odf:
      name: odf-operator
      namespace: openshift-storage

    serverless:
      name: serverless-operator

  projects:
  - hub
  - medical-diagnosis

  applications:
    vault:
      name: vault
      namespace: vault
      project: hub
      chart: hashicorp-vault
      chartVersion: 0.1.*

    golang-external-secrets:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: hub
      chart: golang-external-secrets
      chartVersion: 0.1.*

    openshift-data-foundations:
      name: odf
      namespace: openshift-storage
      project: medical-diagnosis
      chart: openshift-data-foundations
      chartVersion: 0.2.*
      overrides:
        - name: storageSystem.deploy
          value: 'false'


    openshift-serverless:
      name: serverless
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/openshift-serverless

    kafka:
      name: kafka
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/kafka

    kafka-ui:
      name: kafka-ui
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/kafdrop

    xraylab-risk-assessment:
      name: xraylab-risk-assessment
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/medical-diagnosis/risk-assessment

    xraylab-database:
      name: xraylab-database
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/medical-diagnosis/database

    xraylab-grafana-dashboards:
      name: xraylab-grafana-dashboards
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/medical-diagnosis/grafana

    xraylab-image-generator:
      name: xraylab-image-generator
      namespace: xraylab-1
      project: medical-diagnosis
      path: charts/all/medical-diagnosis/image-generator
      ignoreDifferences:
      - group: apps
        kind: Deployment
        jqPathExpressions:
        - .spec.template.spec.containers[].image
        - .spec.replicas

  imperative:
    # NOTE: We *must* use lists and not hashes. As hashes lose ordering once parsed by helm
    # The default schedule is every 10 minutes: imperative.schedule
    # Total timeout of all jobs is 1h: imperative.activeDeadlineSeconds
    # imagePullPolicy is set to always: imperative.imagePullPolicy
    # For additional overrides that apply to the jobs, please refer to
    # https://hybrid-cloud-patterns.io/imperative-actions/#additional-job-customizations
    jobs:
    - name: regional-ca
      # ansible playbook to be run
      playbook: rhvp.cluster_utils.hello_world
      # per playbook timeout in seconds
      timeout: 234
      # verbosity: "-v"

  managedClusterGroups:
    region-one:
      name: region-one
      helmOverrides:
      - name: clusterGroup.isHubCluster
        value: false
      clusterSelector:
        matchLabels:
          clusterGroup: region-one

#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#    pipelines:
#      name: pipelines
#      namespace: production
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: stable
#      overrides:
#      - name: myparam
#        value: myparam
#
#    pipelines_staging:
#    - name: pipelines
#      namespace: staging
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: main
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#    vendor-app:
#      name: vendor-app
#      namespace: default
#      project: vendor
#      path: path/to/myapp
#      repoURL: https://github.com/vendor/applications.git
#      targetRevision: main

#  managedSites:
#    factory:
#      name: factory
#      # repoURL: https://github.com/dagger-refuse-cool/manuela-factory.git
#      targetRevision: main
#      path: applications/factory
#      helmOverrides:
#      - name: site.isHubCluster
#        value: false
#      clusterSelector:
#        matchExpressions:
#        - key: vendor
#          operator: In
#          values:
#            - OpenShift
