global:
  pattern: xray
  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

  # XRay configuration for service-point config map
  # Found in charts/datacenter/xraylab/templates
  #   datacenter:
  #     cloudProvider: <aws,azure,gcp>
  #     storageClassName: <gp2>
  #     region: <us-east-1>
  #     clustername: <cluster-name>
  #     domain: <domain>

  datacenter:
    cloudProvider: aws
    storageClassName: gp2
    region: us-east-2
    clustername: jrickard-gitops
    domain: blueprints.rhecoeng.com

  xraylab:
    namespace: "xraylab-1"

    s3:
      # Values for S3 bucket access
      # Replace <region> with AWS region where S3 bucket was created
      # Replace <cluster-name> and <domain> with your OpenShift cluster values
      # bucketSource: "https://s3.<region>.amazonaws.com/com.redhat.claudiol.xray-source"
      bucketSource: "https://s3-us-east-2.amazonaws.com/validated-patterns.xray-source"
      # Bucket base name used for xray images
      bucketBaseName: "xray-source"

main:
  clusterGroupName: datacenter
