---
secrets:
  # NEVER COMMIT THESE VALUES TO GIT
  
  # Database login credentials and configuration 
  xraylab:
    database-user: xraylab
    database-password: PLAINTEXT
    database-root-password: PLAINTEXT
    database-host: xraylabdb
    database-db: xraylabdb
    database-master-user: xraylab
    database-master-password: PLAINTEXT
  
  # Grafana Dashboard admin user/password
  grafana:
    GF_SECURITY_ADMIN_USER: root
    GF_SECURITY_ADMIN_PASSWORD: PLAINTEXT
