global:
  xraylab:
    namespace: xraylab-1
    s3:
      bucketBaseName: xray-source
  datacenter:
    clustername: gitops

secretStore:
  name: vault-backend
  kind: ClusterSecretStore

grafana:
  key: secret/data/hub/grafana

rbac:
  createServiceAccount: true
  serviceAccountName: "grafana-sa"
  roles: []
  roleBindings:
    - name: cluster-monitoring-view
      scope:
        cluster: true
        namespace: ""
      subjects:
        kind: ServiceAccount
        name: grafana-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: ClusterRole
        name: cluster-monitoring-view
