global:
  xraylab:
    namespace: xraylab-1
    s3:
      bucketBaseName: xray-source
  datacenter:
    clustername: gitops

secretStore:
  name: vault-backend
  kind: ClusterSecretStore

grafana:
  key: secret/data/hub/grafana

dataSources:
  type: mysql
  name: MySQL
  access: proxy

job:
  image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest

rbac:
  createServiceAccount: true
  serviceAccountName: "grafana-sa"
  roles:
    - name: grafana-mgmt
      apiGroups:
        - "grafana.integreatly.org"
      scope:
        cluster: false
        namespace: xraylab-1
      resources:
        - grafanadatasources
      verbs:
        - "get"
        - "list"
        - "patch"
        - "create"
        - "update"
    - name: grafana-serviceAccount-token
      apiGroups:
        - '""'
      scope:
        cluster: false
        namespace: xraylab-1
      resources:
        - "serviceaccounts/tokens"
      verbs:
        - "get"
        - "list"
        - "create"
        - "update"
    - name: grafana-read-secrets
      apiGroups:
        - '""'
      scope:
        cluster: false
        namespace: xraylab-1
      resources:
        - secrets
      verbs:
        - "get"
        - "list"
        - "watch"
    - name: grafana-view-deployments
      apiGroups: 
        - apps
      scope:
        cluster: false
        namespace: xraylab-1
      resources:
        - deployments
      verbs:
        - "get"
        - "list"
        - "watch"
    - name: grafana-view-deploymentconfigs
      apiGroups: 
        - apps.openshift.io
      scope:
        cluster: false
        namespace: xraylab-1
      resources:
        - deploymentconfigs
      verbs:
        - "get"
        - "list"
        - "watch"
  roleBindings:
    - name: grafana-read-secrets
      scope:
        cluster: false
        namespace: xraylab-1
      subjects:
        kind: ServiceAccount
        name: grafana-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: Role
        name: grafana-read-secrets
    - name: grafana-mgmt
      scope:
        cluster: false
        namespace: xraylab-1
      subjects:
        kind: ServiceAccount
        name: grafana-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: Role
        name: grafana-mgmt
    - name: cluster-monitoring-view
      scope:
        cluster: true
        namespace: ""
      subjects:
        kind: ServiceAccount
        name: grafana-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: ClusterRole
        name: cluster-monitoring-view
    - name: grafana-view-deployments
      scope:
        cluster: false
        namespace: xraylab-1
      subjects:
        kind: ServiceAccount
        name: xraylab-1-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: Role
        name: grafana-view-deployments
    - name: grafana-image-puller
      scope:
        cluster: false
        namespace: xraylab-1
      subjects:
        kind: ServiceAccount
        name: grafana-sa
        namespace: xraylab-1
        apiGroup: "image.openshift.io"
      roleRef:
        kind: ClusterRole
        name: "system:image-puller"
    - name: grafana-view-deploymentconfigs
      scope:
        cluster: false
        namespace: xraylab-1
      subjects:
        kind: ServiceAccount
        name: Cxraylab-1-sa
        namespace: xraylab-1
        apiGroup: ""
      roleRef:
        kind: Role
        name: grafana-view-deploymentconfigs

