apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: image-server
  namespace: "{{ .Values.global.xraylab.namespace }}"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  lookupPolicy:
    local: true
  tags:
    - name: latest
      from:
        kind: DockerImage
        name: 'quay.io/rh-data-services/xraylab-image-server:v2.0'
      importPolicy: {}
      referencePolicy:
        type: Source
