apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: risk-assessment
  namespace: {{ .Values.global.xraylab.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  lookupPolicy:
    local: true
  tags:
    - name: latest
      from:
        kind: DockerImage
        name: 'quay.io/rh-data-services/xraylab-risk-assessment:v2.0'
      importPolicy: {}
      referencePolicy:
        type: Source
