apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: xray-cluster
  namespace: "{{ .Values.global.xraylab.namespace }}"
spec:
  entityOperator:
    topicOperator:
      reconciliationIntervalSeconds: 90
    userOperator:
      reconciliationIntervalSeconds: 120
  kafka:
    config:
      log.message.format.version: {{ .Values.kafka.config.logFormatVersion }}
      offsets.topic.replication.factor: 1
      transaction.state.log.min.isr: 1
      transaction.state.log.replication.factor: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    replicas: {{ .Values.kafka.replicas }}
    storage:
      type: {{ .Values.kafka.storage.type }}
    version: {{ .Values.kafka.version }}
  zookeeper:
    replicas: {{ .Values.zookeeper.replicas }}
    storage:
      type: {{ .Values.zookeeper.storage.type }}
